body {
    background-color: hsl(36, 100%, 99%);
    font-family: "Inter", sans-serif;
}

.content {
    margin: 15px;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    position: sticky;
}

.navBar .navLinks {
    display: none;
}

.openDrawer {
    transform: translateX(-400px);
}


.mobileNavLinks {
    width: 75%;
    background-color: hsl(36, 100%, 99%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -470px;
    padding: 16px;
    transition: transform 0.5s;

}

.mobileNavLinks a {
    text-decoration: none;
    margin: 0 16px;
    color:hsl(236, 13%, 42%);
    font-size: 1.1rem;
    padding-bottom: 2em;
}

.mobileNavLinks a:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
} 

.banner-img {
    background-image: url("assets/images/image-web-3-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Adjust dimensions as needed */
    height: 300px; /* Example height */
}